{% extends 'ong/base.html' %}
{% load staticfiles %}

{% block title %}Equipe{% endblock title %}

{% block body %}
    <main id="p-equipe" class="page-top">
        <section id="equipe">
            <h4 class="caption text-center">EQUIPE</h4>
            <div id="owl-equipe" class="owl-carousel owl-theme">
                {% for membro in membros %}
                    {% if not membro.dataFim %}
                        <article class="card">
                            {% if membro.possuiPhoto %}
                                <img class="card-img-top" src="data:image/png;base64,{{ membro.photo64 }}"/>
                            {% else %}
                                <img class="card-img-top" src="{% static "images/formiga.jpg" %}">
                            {% endif %}
                            <div class="caption">
                                <h5 class="card-title">{{ membro.nome }}</h5>
                                <p class="flex-text text-muted card-text">{{ membro.atividade }}</p>
                            </div>
                            <div class="member-social" align="center">
                                {% if membro.email %}
                                    <a href="#"><i class="fa fa-envelope"></i></a>
                                {% endif %}
                                {% if membro.facebook %}
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                {% endif %}
                                {% if membro.telefone %}
                                    <a href="#"><i class="fa fa-phone"></i></a>
                                {% endif %}
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
        <section id="depoimentos">
            {% if membros %}
                <hr>
                <h4 class="caption text-center">DEPOIMENTOS</h4>
                <div id="owl-carousel" class="owl-carousel owl-theme">
                    {% for membro in membros %}
                        {% if membro.depoimento %}
                            <article class="card">
                                {% if membro.possuiPhoto %}
                                    <img class="card-img-top" src="data:image/png;base64,{{ membro.photo64 }}"/>
                                {% else %}
                                    <img class="card-img-top" src="{% static "images/formiga.jpg" %}">
                                {% endif %}
                                <div class="caption">
                                    <h5 class="card-title">{{ membro.nome }}</h5>
                                    <p class="flex-text text-muted card-text">"{{ membro.depoimento }}"</p>
                                </div>
                            </article>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
        </section>
        <section id="ja-passou">
            <h4 class="caption text-center">QUEM JÁ PASSOU POR AQUI</h4>
            {% for membro in membros %}
                {% if membro.dataFim %}
                    <article class="card">
                        <div class="row no-padding">
                            {% if membro.possuiPhoto %}
                                <img class="card-img-top" src="data:image/png;base64,{{ membro.photo64 }}"/>
                            {% else %}
                                <img class="card-img-top" src="{% static "images/formiga.jpg" %}">
                            {% endif %}
                            </a>
                            <div class="caption text-center col-md-7 no-padding">
                                <h5 class="card-title">{{ membro.nome }}</h5>
                                <p class="flex-text text-muted card-text">{{ membro.atividade }}</p>
                                <p class="flex-text text-muted card-text">De {{ membro.dataInicio }} até {{ membro.dataFim }}</p>
                            </div>
                        </div>
                    </article>
                {% endif %}
            {% endfor %}
        </section>


    </main>
{% endblock body %}